
.find-your-dream-home {
    padding-top: 13rem;
    padding-bottom: 13rem;
    background-image: url('../img/kitchen_background.jpg');
}

.our-mission {
    background-image: url('../img/beach_background.jpg');
    padding-top: 3rem;
    padding-bottom: 5rem;
}